<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!-- This configuration file was written by the eclipse-cs plugin configuration 
	editor -->
<!-- Checkstyle-Configuration: cstr.core-checkstyle Description: none -->
<module name="Checker">
	<property name="severity" value="error" />
	<module name="TreeWalker">
		<property name="cacheFile" value="${checkstyle.cache.file}" />
		<module name="FileContentsHolder" />
		<module name="RegexpSinglelineJava">
			<property name="format" value="\s+$" />
			<property name="message" value="Line has trailing spaces." />
			<property name="ignoreComments" value="true" />
		</module>
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* +\t*\S" />
			<property name="message"
				value="Line has leading space characters; indentation should be performed with tabs only." />
			<property name="ignoreComments" value="true" />
		</module>
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<module name="AvoidStarImport" />
		<module name="IllegalImport"/>
		<module name="RedundantImport"/>
		<module name="UnusedImports"/>
		<module name="ParameterAssignment"/>
		<module name="HiddenField">
			<property name="ignoreConstructorParameter" value="true"/>
			<property name="ignoreSetter" value="true"/>
		</module>
		<module name="LineLength">
			<property name="max" value="120" />
			<property name="tabWidth" value="1" />
		</module>
		<module name="MethodLength" />
		<module name="ParameterNumber" />
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter">
			<property name="tokens"
				value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS" />
		</module>
		<module name="NoWhitespaceBefore" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="WhitespaceAfter" />

		<!--Please be aware of this bug: http://www.digipedia.pl/usenet/thread/13412/485/-->
		<!--[checkstyle-Bugs-2874050 ] WhitespaceAround wrongly targets annotation element arrays-->
		<module name="WhitespaceAround" />

		<module name="ModifierOrder" />
		<module name="RedundantModifier" />
		<module name="AvoidNestedBlocks" />
		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<module name="MagicNumber">
			<property name="severity" value="warning" />
			<property name="ignoreNumbers" value="-1, 0, 1, 2, 3, 4, -4"/>
		</module>
		<module name="MissingSwitchDefault" />
		<module name="RedundantThrows" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<module name="VisibilityModifier">
			<property name="packageAllowed" value="true" />
			<property name="protectedAllowed" value="true" />
		</module>
		<module name="ArrayTypeStyle" />
		<module name="FinalParameters">
			<property name="severity" value="ignore" />
			<metadata name="net.sf.eclipsecs.core.lastEnabledSeverity"
				value="warning" />
		</module>
		<module name="UpperEll" />
	</module>
	<module name="Translation" />
	<module name="FileLength" />
	<module name="SuppressionCommentFilter" />
</module>