<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.verba.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>

    <application
        android:name="org.verba.mobile.Verba"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="PhraseLookupActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:theme="@style/Verba.Theme">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
        <activity android:name="DictionariesLoaderActivity"
            android:label="@string/loadDictionariesDialogLabel"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="nosensor"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Verba.Theme"/>
        <activity android:name="PhraseDefinitionDetailsActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:theme="@style/Verba.Theme"/>
        <activity android:name="EditCardActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/Verba.Theme"/>
        <activity android:name="ViewCardActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:theme="@style/Verba.Theme"/>
        <activity android:name="CardSetPickerActivity"
            android:label="@string/pickCardSetLabel"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:theme="@style/Verba.Theme"/>
        <activity android:name="CardSetViewerActivity"
            android:label="@string/pickCardLabel"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:theme="@style/Verba.Theme"/>
        <activity android:name="VerbaPreferences"
            android:label="@string/verbaPreferencesLabel"
            android:windowSoftInputMode="stateUnspecified|adjustPan"/>
    </application>

</manifest>